<div class="designer">
    <canvas id="ssg-canvas"></canvas>
    <div class="cliparts"></div>
    <div class="toolbox">
        <button id="btn-up">&uarr;</button>
        <button id="btn-down">&darr;</button>
        <button id="btn-left">&larr;</button>
        <button id="btn-right">&rarr;</button>
        <button id="btn-rotate-left">&#8634;</button>
        <button id="btn-rotate-right">&#8635;</button>
        <button id="btn-flip">&harr;</button>

        <button id="btn-preview">Preview</button>
        <button id="btn-submit">Submit</button>
        <br>
        <input type="text" placeholder="Some text" id="text-field">
        <button id="btn-text">Add Text</button>
        <button id="btn-text-bold">Bold</button>
        <button id="btn-text-italic">Italic</button>
        <button id="btn-text-shadow">Shadow</button>
        <button id="btn-text-stroke">Stroke</button>

    </div>
    <div id="error-message"></div>
</div>

<div class="preview-container"></div>

