<div class="designer">
    <canvas id="ssg-canvas"></canvas>
    <div class="cliparts"></div>
    <div class="toolbox">
        <button id="btn-up">&uarr;</button>
        <button id="btn-down">&darr;</button>
        <button id="btn-left">&larr;</button>
        <button id="btn-right">&rarr;</button>
        <button id="btn-rotate-left">&#8634;</button>
        <button id="btn-rotate-right">&#8635;</button>
        <button id="btn-flip">&harr;</button>

        <button id="btn-preview">Preview</button>
        <button id="btn-submit">Submit</button>

        <button id="btn-reset">Reset</button>

        <br>
        <input type="text" placeholder="Some text" id="text-field" value="1TJFgdp0xA">
        <button id="btn-text">Add Text</button>
        <button id="btn-text-bold">Bold</button>
        <button id="btn-text-italic">Italic</button>
        <button id="btn-text-shadow">Shadow</button>
        <button id="btn-text-stroke">Stroke</button>
        <input class="color" id="text-color">
        <br>
        <button id="btn-add-doodle">Add Doodle</button>
        <button id="btn-doodle-undo">Undo</button>
        <button id="btn-doodle-clear">Clear</button>
        <input type="number" id="doodle-line-width" value="10"> Width
        <input class="color" id="doodle-color">


        <input type="file" id="file-upload">

        <button id="btn-filters">Filters</button>
        <button id="btn-filters-intensity-low">Low</button>
        <button id="btn-filters-intensity-medium">Medium</button>
        <button id="btn-filters-intensity-high">High</button>
    </div>
    <div id="error-message"></div>
</div>


<div class="preview-container"></div>

