<div class="progress-bar-control" style="">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <span id="loaderMessage" class="small-text"></span>
</div>
