
.aam-designer-init {
    font-family: inherit;
    font-size: inherit;

    max-width: 743px;
    min-width: 320px;

    max-height: 450px;
    width: 100%;
    height: 450px;

    box-sizing: border-box;

    border-radius: 4px;
    box-shadow: -1px 0 10px rgba(50, 50, 50, 0.25);
    padding: 4px;

    *, *::after, *::before {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: inherit;
        font-family: inherit;
        font-weight: inherit;
    }



    .main-container {
        width: 100%;
        height: 100%;
    }


    button {
        cursor: pointer;
    }


    &.mobile {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        max-height: none;

        .main-container {
            border-radius: 0;
        }

    }
}
